@page "/"

<PageTitle>PYT Short Link Admin</PageTitle>

<h1>PYT Short Link Admin</h1>
<div>
    <p>
        Use to the <b><a href="https://brave-moss-0cfb7171e.3.azurestaticapps.net/urlmanager" target="_blank">URL Manager</a></b>
         to create and edit PYTGLink short links. 
    </p>

    <div style="align-content: center;"><img class="mainLogo" src="/images/yaquiflag.png" width="500px;"/></div>
</div>